.pink-odd {
    background-color: #FDA7A8;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#blue-giant {
    color: #0B24FB;
    font-size: 36px;
}

.big {
    font-size: 24px;
}

#green {
    background-color: #85FD86;
    font-weight: bold;
}