.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* note to self: check solution for other possible combinators which would work for this*/